# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js & Build
.next/
out/
dist/
build/
*.tsbuildinfo

# Environment & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage/
*.log

# Databases
*.db
*.sqlite
*.sqlite3

# Misc & System
.DS_Store
*.pem
.vscode/
.idea/
.eslintcache
